.block-user{
  display: flex;
  padding: 20px;
  height: 315px;
}

.block-user__image-container{
  position: relative;
  display: flex;
  grid-row: 1/2;
  box-shadow: inset 0px 1px 1px 0.5px rgba(0, 0, 0, 0.25);
  background-color: #0c131c;
  border-radius: 10px;
  padding: 5px;
}

.block-user__image-loader-button{
  position:absolute;
  left: 5px;
  top: 32px;
  background-color: black;
  color: white;
  transition: opacity ease-out 150ms;
  opacity: 0;
}

.block-user__image-container:hover{
  .block-user__image-loader-button{
    opacity: 1;
  }
}

.block-user__image-loader-input{
  display: none;
}

.block-user__image{
  box-shadow: inset 0px 2px 5px 10px rgba(0, 0, 0, 1);
  margin: -1px 0 0 -1px;
  border: solid 0.5px black;
  border-radius: 10px;
  object-fit: cover;
  margin: auto;
  height: 250px;
  width: 350px;
}

.block-user__info-container{
  margin: 25px;
  margin-left: 34px;
  height: 250px;
  width: 100%;
}

.block-user__title{
  display: block;
  font-size: 32px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.block-user__caption{
  display: block;
  font-size: 16px;
}

.block-user__text{
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
}

.image-block{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/5;
  height: 170px;
}

.image-block__image-container{
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
}

.image-block__image{
  height: 170px;
  border-radius: 20px;
  border: solid 0.5px black;
  background-color: #0E1621;
  border-radius: 20px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  margin: -1px 0 0 -1px;
  object-fit: cover;
  width: 100%;
}

.image-block__info-container{
  display: flex;
  grid-row: 1/2;
  grid-column: 1/2;
}

.image-block__title{
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin: auto;
  width: fit-content;
  font-size: 42px;
}

.little-block{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 170px;
}

.little-block__image-container{
  height: 170px;
  width: 147.25px;
  grid-column: 1/2;
}

.little-block__image{
  object-fit: cover;
  object-position: center;
  border-radius: 20px 0 0 20px;
  margin: -1px 0 0 -1px;
  border: solid 0.5px black;
  height: 100%;
  width: 100%;
}

.little-block__info-container{
  margin: 10px;
  padding: 5px;
  grid-column: 2/5;
  border-radius: 5px;
  background-color: #0c131c;
  box-shadow: inset 0px 1px 1px 0.5px rgba(0, 0, 0, 0.25);
}

.little-block__title{
  display: block;
  width: 100%;
  font-size: 20px;
}

.little-block__text{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin-top: 15px;
}

.big-course-block{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.big-course-block__info-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1/6;
  grid-column: 1/2;
}

.big-course-block__title{
  margin: auto;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 48px;
  grid-row: 1/3;
}

.big-course-block__text{
  grid-row: 3/6;
  white-space: pre-wrap;
  margin: 30px 10px;
  padding: 15px 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #0c131c;
  box-shadow: inset 0px 1px 1px 0.5px rgba(0, 0, 0, 0.25);
  height: fit-content;
}

.big-course-block__image-container{
  grid-row: 1/6;
  grid-column: 1/2;
  object-fit: cover;
  height: 290px;
  width: 100%;
}

.big-course-block__image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: -1px 0 0 -1px;
  border-radius: 20px 20px 0 0;
  border: solid 0.5px black;
}

.medium-course-block{
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.medium-course-block__title{
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 32px;
  grid-row: 1/3;
}

.medium-course-block__info-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1/6;
  grid-column: 1/2;
}

.medium-course-block__image-container{
  grid-row: 1/3;
  grid-column: 1/2;
  object-fit: cover;
  height: 140px;
  width: 100%;
}

.medium-course-block__image-loader-button{
  position:absolute;
  right: 10px;
  top: 10px;
  background-color: black;
  color: white;
  transition: opacity ease-out 150ms;
  opacity: 0;
}

.medium-course-block:hover{
  .medium-course-block__image-loader-button{
    opacity: 1;
  }
}

.medium-course-block__image-loader-input{
  display: none;
}

.medium-course-block__text{
  grid-row: 3/6;
  overflow: hidden;
  white-space: pre-wrap;
  margin: 15px 10px;
  padding: 15px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0c131c;
  box-shadow: inset 0px 1px 1px 0.5px rgba(0, 0, 0, 0.25);
  height: 150px;
}

.medium-course-block__image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: -1px 0 0 -1px;
  border-radius: 20px 20px 0 0;
  border: solid 0.5px black;
}