<!DOCTYPE html>
<html>
  <head>
    <title>Сервер</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="bg-slate-800 min-h-screen flex flex-col">
    <header class="flex flex-row-reverse py-3  bg-slate-900 rounded-b-lg">
      <a href="/register" class="mx-4">
        <button class="bg-sky-700 transition-colors easy-in rounded-full px-3 py-1 hover:bg-sky-800 text-zinc-200">
          Регистрация
        </button>
    </a>
      <a href="/login" class="mx-4">
        <button class="bg-sky-700 transition-colors easy-in rounded-full px-3 py-1 hover:bg-sky-800 text-zinc-200">
          Войти
        </button>
      </a>
    </header>
    <main class="text-white">
      <h1 class="">Привет, ноунейм!</h1>
      <p>Здесь будет лендинг!</p>
    </main>
  </body>
</html>