.user-forms{
  margin: 3em;
}

.user-forms>form{
  margin-bottom: 3em;
}

.user-forms{
  border: solid 0.5px black;
  background-color: #17212B;
  border-radius: 29.5px 29.5px 10px 10px;
  margin: 18px;
  margin-left: 25px;
  margin-top: 10px;
}

.profile__edit-button{
  color: white;
}

.profile__background{
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: center;
}