.grid-menu {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.375rem;
  row-gap: 4.875rem;
  background-color: #17212B;
  padding: 0 4.25rem 30rem 4.25rem;
  border-radius: 1rem;
}

.grid-menu__title {
  text-align: center;
  font-weight: 500;
  margin-bottom: -2rem;
  grid-column: 1/4;
}